<!-- May not be available for this device -->
<sci_request version="1.0">
<send_message cache="true">
<targets>
<device id="{{ devid }}"/>
</targets>
<rci_request version="1.1">
<query_descriptor>
{{ descriptor }}
</query_descriptor>
</rci_request>
</send_message>
</sci_request>