<sci_request version="1.0">
   <send_message>
      <targets><device id="{{ devid }}"/></targets>
      <rci_request version='1.1'>
		  {{ settingxml }}
	  </rci_request>
   </send_message>
</sci_request>